/*--------------------------------------------------------- 
--------------------Styles Généraux-----------------------
---------------------------------------------------------*/
:root {
  --vertSombre: #295921;
  --kaki: #45663f;
  --jaune: #e2e61c;
  --mauve: #c51be5;
  --violet: #603f66;
  --noir: #000;
  --blanc: #fff;
}

@font-face {
  font-family: "munday";
  src: url("../font/munday.ttf");
}

body {
  font-family: "munday";
  height: 20000px; /* Hauteur temporaire pour tester le défilement */
  text-align: center;
  overflow-x: hidden;
  width: 100%;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/img_arriere_plan/intro/background_intro.svg");
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}

header h1 {
  top: 1vh;
  margin: 20px;
  font-size: 6vw;
  color: white;
  text-shadow: 1px 3px 1px black;
}

header p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 1px 3px 1px black;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.defilement {
  border: 1px solid red;
  position: absolute;
  font-size: 60px;
  bottom: 120px;
  left: 50%;
  height: auto;
  transform: translateX(-50%);
  color: white;
}

main {
  overflow-y: scroll;
  margin: 0;
}

section {
  width: 100%;
  height: 100%;
  margin: 0;
  background-size: cover;
  background-position: center;
  border: 1px solid red; /* Bordure rouge temporaire */
}

footer {
  text-align: center;
  color: var(--jaune);
  background-color: #000;
}

/*--------------------------------------------------------- 
--------------------Chapitre 1-----------------------------
---------------------------------------------------------*/

section.chapitre1 {
  background-repeat: no-repeat;
}

.layer {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.arriere {
  z-index: -1;
  top: 0;
}

.millieu {
  z-index: 0;
}

.devant {
  z-index: 1;
}

/*--------------------------------------------------------- 
--------------------Chapitre 2-----------------------------
---------------------------------------------------------*/

/*--------------------------------------------------------- 
--------------------Chapitre 3-----------------------------
---------------------------------------------------------*/

/*--------------------------------------------------------- 
--------------------Chapitre 4-----------------------------
---------------------------------------------------------*/

/*--------------------------------------------------------- 
--------------------Chapitre 5-----------------------------
---------------------------------------------------------*/

/*--------------------------------------------------------- 
--------------------Chapitre 6-----------------------------
---------------------------------------------------------*/

/*--------------------------------------------------------- 
--------------------Sprite---------------------------------
---------------------------------------------------------*/
.sprite {
  width: 50vw;
  aspect-ratio: 1/1;
  background-size: 100% 4800%;
  background-image: url("../img/img_personnages/png/sprite/sprite_max_reveille.png");
  animation: playSprite 1s steps(48) infinite;
  animation-play-state: running;
  border: 2px solid red;
  margin: 0 auto;
}

body.is-scrolling .sprite {
  animation-play-state: running;
}

@keyframes playSprite {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -4800%;
  }
}
