/*--------------------------------------------------------- 
--------------------Styles Généraux-----------------------
---------------------------------------------------------*/
:root {
  --rose: #c7214d;
  --vert: #00a468;
  --orange: #f78f41;
  --bleu: #28499f;
  --jaune: #fede46;
  --noir: #000;
  --blanc: #fff;
}

@font-face {
  font-family: "munday";
  src: url("../font/munday.ttf");
}

body {
  width: 100vw;
  margin: 0;
  font-family: "munday";
  text-align: center;
  overflow-x: hidden;
  background-color: var(--noir);
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/img_arriere_plan/intro/background_intro.svg");
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}

header h1 {
  top: 1vh;
  margin: 20px;
  font-size: 6vw;
  color: white;
  text-shadow: 1px 3px 1px black;
}

header p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 1px 3px 1px black;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.defilement {
  position: absolute;
  font-size: 60px;
  bottom: 120px;
  left: 50%;
  height: auto;
  transform: translateX(-50%);
  color: white;
}

main {
  margin: 0;
}

section {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
  position: relative;
}

footer {
  margin: 0;
  text-align: center;
  color: var(--jaune);
  background-color: #000;
}

ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

ul.technique-gsap li {
  margin: 5px 0;
  text-align: left;
}

/*--------------------------------------------------------- 
--------------------Chapitre 1-----------------------------
---------------------------------------------------------*/

section.chapitre1 {
  background-color: #000;
  background-size: 100%;
  background-image: url("../img/img_arriere_plan/chapitre1/bg_nuit_chapitre1.svg");
  background-position: 50% 50%;
}

.overlay-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  z-index: 2;
}

.devant-nuit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.lune {
  position: absolute;
  width: 10vw;
  top: 8vh;
  right: 5vw;
}

.texte-1 {
  position: absolute;
  color: var(--blanc);
  font-size: 3vw;
  top: 5vh;
  left: 8vw;
  z-index: 2;
}

/*--------------------------------------------------------- 
--------------------Chapitre 2-----------------------------
---------------------------------------------------------*/

section.chapitre2 {
  background-image: url("../img/img_arriere_plan/chapitre2/landscape_nuage.svg");
}

.nuage-avant {
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.nuage-arriere {
  position: absolute;
  bottom: 8vh;
  left: 0;
  z-index: 0;
}

.etoile-petite {
  position: absolute;
  top: 25vh;
  right: 25vw;
  width: 9vw;
}

.etoile-grande {
  position: absolute;
  top: 1vh;
  left: 40vw;
  width: 13vw;
}

.etoile-path-1 {
  fill: none;
  stroke: var(--jaune);
  stroke-width: 3px;
}
.etoile-path-2 {
  fill: none;
  stroke: var(--jaune);
  stroke-width: 4.5px;
}

.texte-2 {
  position: absolute;
  color: var(--blanc);
  font-size: 3vw;
  top: 5vh;
  left: 8vw;
  z-index: 9;
}

.reveille2 {
  position: absolute;
  top: 0;
  right: 35vw;
  width: 10vw;
  aspect-ratio: 1/1;
  background-size: 100% 4800%;
  background-image: url("../img/img_personnages/png/sprite/lyx_reveille.png");
  margin: 0 auto;
  z-index: 1;
}

.overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  z-index: 10;
}

/*--------------------------------------------------------- 
--------------------Chapitre 3-----------------------------
---------------------------------------------------------*/

section.chapitre3 {
  background-image: url("../img/img_arriere_plan/chapitre3/etrange_structure.svg");
}

.texte-3 {
  position: absolute;
  color: var(--blanc);
  font-size: 3vw;
  top: 5vh;
  left: 8vw;
  z-index: 2;
}

.reveille3 {
  position: absolute;
  top: 0;
  right: 10vw;
  width: 10vw;
  aspect-ratio: 1/1;
  background-size: 100% 4800%;
  background-image: url("../img/img_personnages/png/sprite/lyx_reveille.png");
  margin: 0 auto;
}

.overlay-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  z-index: 10;
}

.trace-forme {
  position: absolute;
  width: 60vw;
  top: -20vh;
  right: 5vw;
  fill: transparent;
}

/*--------------------------------------------------------- 
--------------------Chapitre 4-----------------------------
---------------------------------------------------------*/

section.chapitre4 {
  background-color: #000;
}

.barreaux {
  position: absolute;
  width: 8vw;
  top: 60vh;
  left: 46.5vw;
  z-index: 1;
}

.bg-temple {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}

.texte-4 {
  position: absolute;
  color: var(--blanc);
  font-size: 3vw;
  top: 5vh;
  left: 8vw;
  opacity: 1;
  z-index: 3;
}

.texte-voix1 {
  position: absolute;
  color: var(--blanc);
  font-size: 6vw;
  top: 30vh;
  left: 45vw;
  opacity: 0;
  z-index: 3;
}

.texte-voix2 {
  position: absolute;
  color: var(--blanc);
  font-size: 6vw;
  top: 30vh;
  left: 37vw;
  opacity: 0;
  z-index: 3;
}

.reveille4 {
  position: absolute;
  top: 80vh;
  left: 50vw;
  width: 10vw;
  aspect-ratio: 1/1;
  background-size: 100% 4800%;
  background-image: url("../img/img_personnages/png/sprite/lyx_reveille.png");
  margin: 0 auto;
  z-index: 3;
}

.overlay-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  z-index: 10;
}

.morphing {
  position: absolute;
  width: 10vw;
  top: 18vh;
  left: 45vw;
  z-index: 5;
}

.fond-morph-1 {
  fill: var(--noir);
}
.fond-morph-2 {
  fill: var(--jaune);
}
.check-morph {
  fill: var(--vert);
  opacity: 0;
}

.x-morph {
  fill: var(--rose);
}
/*--------------------------------------------------------- 
--------------------Chapitre 5-----------------------------
---------------------------------------------------------*/

section.chapitre5 {
  background-image: url("../img/img_arriere_plan/chapitre5/piece_sommeil.svg");
}

.z-petit {
  position: absolute;
  width: 2vw;
  bottom: 40vh;
  left: 52vw;
}

.z-moyen {
  position: absolute;
  width: 4vw;
  bottom: 42vh;
  left: 55vw;
}

.z-grand {
  position: absolute;
  width: 6vw;
  bottom: 48vh;
  left: 60vw;
}

.texte-5 {
  position: absolute;
  color: var(--blanc);
  font-size: 3vw;
  top: 5vh;
  left: 8vw;
  z-index: 2;
}

.reveille5 {
  position: absolute;
  bottom: 20vh;
  left: 0vw;
  width: 15vw;
  aspect-ratio: 1/1;
  background-size: 100% 4800%;
  background-image: url("../img/img_personnages/png/sprite/lyx_reveille.png");
  margin: 0 auto;
  z-index: 2;
}

.overlay-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  z-index: 10;
}

/*--------------------------------------------------------- 
--------------------Chapitre 6-----------------------------
---------------------------------------------------------*/

section.chapitre6 {
  background-size: 150%;
  background-image: url("../img/img_arriere_plan/chapitre6/bg_jour_chapitre_final.svg");
  background-position: 50% 50%;
  background-color: #000;
}

.devant-jour {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  scale: 1.2;
  z-index: 1;
}

.soleil {
  position: absolute;
  width: 10vw;
  top: 0vh;
  right: 20vw;
  opacity: 0;
  scale: 1.5;
  z-index: 0;
}

.texte-6 {
  position: absolute;
  color: var(--blanc);
  font-size: 3vw;
  top: 5vh;
  left: 8vw;
  z-index: 2;
}

.overlay-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 1;
  z-index: 10;
}

/*--------------------------------------------------------- 
--------------------Sprite---------------------------------
---------------------------------------------------------*/

.dors {
  position: absolute;
  bottom: 20vh;
  left: 40vw;
  width: 15vw;
  aspect-ratio: 1/1;
  background-size: 100% 4800%;
  background-image: url("../img/img_personnages/png/sprite/lyx_dors.png");
  margin: 0 auto;
  opacity: 0.5;
}

body.is-scrolling .sprite {
  animation-play-state: running;
}
